<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/pencil.png">
    <title>doodlebook</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@300;400&family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/output.css"/>
  </head>
  <body class="font-['lato']">
    <header class="flex justify-between mt-6 items-center mx-12">
      <img src="/images/hi.png" class="logo w-[100px]">
      <div class="flex items-center align-center justify-evenly w-4/6 mt-4">
        <h1 class="font-['caveat'] text-3xl mb-[6px]">yo, <%= user.userName %></h1>
        <a class="text-sm" href="/profile">DOODLES</a>
        <a class="text-sm" href="/feed">DOODLEBOOK</a>
        <a class="text-sm" href="/feed">INPSIRATION</a>
        <a class="text-sm" href="/logout">LOGOUT</a>
        <a href="/uploadPost" class="font-['caveat'] text-3xl bg-yellow text-black mt-3 py-2 px-10 rounded-md mb-4"><button>upload</button></a>
      </div>
        
    </header>
  </body>
</html>