<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/pencil.png">
    <title>doodlebook</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@300;400&family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/output.css"/>
  </head>
  <body id="body" class="font-['lato']">
    <header class="flex justify-between m-6 mb-4 lg:m-6 lg:mb-12 lg:items-center lg:mx-8">
      <a href="/profile"><img src="/images/hi.png" class="logo w-[100px]"></a>
      <div class="hidden lg:flex items-center align-center justify-between w-4/6 mt-4">
        <h1 class="font-['caveat'] text-3xl mb-[6px]">yo, <%= user.userName %></h1>
        <a class="text-sm" href="/profile">DOODLES</a>
        <a class="text-sm" href="/feed">DOODLEBOOK</a>
        <a class="text-sm" href="/feed">INSPIRATION</a>
        <a class="text-sm" href="/logout">LOGOUT</a>
        <a href="/upload-post" class="font-['caveat'] text-3xl bg-yellow text-black mt-3 py-2 px-10 rounded-md mb-4"><button>upload</button></a>
      </div>

      <button id="menu-btn" class="block hamburger z-10 mt-4 md:hidden focus:outline-none">
        <img src="/images/line1.png" class="hamburger-top">
        <img src="/images/line2.png" class="hamburger-middle mt-2">
        <img src="/images/line3.png" class="hamburger-bottom mt-4">
      </button>

      <div id="menu" class="absolute flex-copb-10 mt-[-24px] ml-[-24px] mobile-menu w-2/3 hidden">
        <div class="flex flex-col justify-between h-screen bg-yellow w-full p-4 drop-shadow-2xl">
          <div class="flex flex-col space-y-8 text-black items-start font-['lato'] font-light text-base w-full">
            <h1 class="font-['caveat'] text-5xl">doodlebook</h1>
            <a class="text-sm font-bold" href="/profile">DOODLES</a>
            <a class="text-sm font-bold" href="/feed">DOODLEBOOK</a>
            <a class="text-sm font-bold" href="/feed">INSPIRATION</a>
            <a class="text-sm font-bold" href="/upload-post">UPLOAD</a>
            <br>
            <br>
            <a class="text-sm font-bold" href="/logout">LOGOUT</a>
          </div>
          <p>created by georgie conway</p>
        </div>
      </div>
    </header>

    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>