<%- include('partials/header') -%>
    
  <div class="">
      <section class="flex flex-col items-center mt-10">
          <% if (locals.messages.errors) { %>
              <% messages.errors.forEach( el => { %>
                  <div class="alert alert-danger"><%= el.msg %></div>
              <% }) %>    
          <% } %>
          <% if (locals.messages.info) { %>
              <% messages.info.forEach( el => { %>
                  <div class="alert alert-info"><%= el.msg %></div>
              <% }) %>    
          <% } %>
          <form action="/signup" method="POST">
              <div class="mb-3">
                  <label for="userName" class="font-['caveat'] text-4xl">username</label><br>
                  <input type="text" class="form-control border-[1px] font-['lato'] text-l py-2 px-2 w-[300px] text-left" id="userName" name="userName">
                </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="font-['caveat'] text-4xl">email</label><br>
                <input type="email" class="form-control border-[1px] font-['lato'] text-l py-2 px-2 w-[300px] text-left" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="password" class="font-['caveat'] text-4xl">password</label><br>
                <input type="password" class="form-control border-[1px] font-['lato'] text-l py-2 px-2 w-[300px] text-left" id="password" name="password">
              </div>
              <div class="mb-3">
                  <label for="confirmPassword" class="font-['caveat'] text-4xl">confirm password</label><br>
                  <input type="password" class="form-control border-[1px] font-['lato'] text-l py-2 px-2 w-[300px] text-left" id="confirmPassword" name="confirmPassword">
                </div>
              <button type="submit" class="font-['caveat'] text-3xl bg-yellow mt-4 py-2 px-10 rounded-md">submit</button>
            </form>
      </section>
  </div>


